.page-header-component{
  padding-bottom: 20px;
  margin: 10px 0 5px;
  border-bottom: 1px solid #eee;
  display: block;

  .header-text{
  }

  .header-subtext{
    font-family: 'Ludicrous';
    float: right !important;
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
    padding-right: 10px;
  }
}
