/* {
  "presets": ["es2015", "react", "stage-2", [
    "env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "modules": false
    }
  ]],
  "env": {
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "uglify": true
          }
        }]
      ]
    },
    "development": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          },
          "debug": true
        }]
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          },
          "debug": true
        }]
      ]
    }
  }
} */

{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": ["last 3 versions"]
        }
      }
    ],
    "react",
    "stage-2"
  ],
  "env": {
    "test": {
      "plugins": ["rewire", "transform-es2015-modules-commonjs"]
    }
  }
}
