@font-face {
    font-family: 'Maroque'; /*a name to be used later*/
    src: url('../fonts/maroque.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Difference'; /*a name to be used later*/
    src: url('../fonts/difference.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Arter Sans'; /*a name to be used later*/
    src: url('../fonts/arter_sans.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Walken Crisp'; /*a name to be used later*/
    src: url('../fonts/walken_crisp.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Walken Clean'; /*a name to be used later*/
    src: url('../fonts/walken_clean.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Bomr'; /*a name to be used later*/
    src: url('../fonts/bomr.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Manbow Spots'; /*a name to be used later*/
    src: url('../fonts/manbow_spots.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Manbow Tone'; /*a name to be used later*/
    src: url('../fonts/manbow_tone.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Ludicrous'; /*a name to be used later*/
    src: url('../fonts/ludicrous.otf'); /*URL to font*/
}
